@using System.Security.Claims
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span class="text-muted m-2 p-2">
                        @context.User.Identity!.Name 
                        [@context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)!.Value]</span>
                    <a href="logout" target="_blank">Cerrar Sesión</a>
                </Authorized>
                <NotAuthorized>
                    <a href="register" target="_blank">Registrarse</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
